<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
    <title>Home | Alma Food Market</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <ul class="nav nav-pills nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="about_us">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="order">Order</a>
        </li>
    </ul>
    <img style="display: block; margin-left: auto; margin-right: auto; max-width: 100%;" src="https://lh3.googleusercontent.com/Xjh9nksNn1I0etdZYoNSU6ZFnumU9-SKrDOSxYE96T5rwSZHaF16mf8MfXFpBruv37h-dLuPuiYiMJeW3O-YlzDvPUNidFvEu51ScagYNGU9X3MR_fEGXPc1-8fGLH-NSTBGhr0-pw=w265-h297-p-k" /></a>
    <div style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <div class="container" style="position: relative;">
            <h1 style="font-size: 50px; color: white; position: absolute; top: 35%; left: 10%;"><em>Making a healthy lifestyle,<br> affordable.</em></h1>
            <img style= "display: block; margin-left: auto; margin-right: auto; max-width: 100%;" src="https://images.unsplash.com/photo-1512621776951-a57141f2eefd?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&h=1500&w=2000&fit=clip&fm=jpg" width="1000" height="600"/> </a>
        </div>
    </div>
    <br>
    <div style="width: 100%; margin: auto; text-align: center; border: solid rgb(36,107,84); border-radius: auto; border-width: 25px;background-color:rgb(36,107,84); color:white; font-family:Times New Roman, Times, serif;">
        <h1><strong>Our Mission</strong></h1>
        <h5>Alma is a company made to cater healthy foods to those who may not have easy access to them. Alma works as a food market, giving out negotiable and affordable prices to those in need. The company understands the importance of a healthy diet for people no matter where they live.</h5>
        <br>
        <h5>Purchase fresh and organic food items to add to your kitchen.<h5>
        <h5>Not sure what to make? No worries!<h5>
        <h5>Choose your favorite recipe, and we'll send you all the ingredients you'll need. Use filters for any dietary restrictions.<h5>
        <h5>In your package you'll be sent the food, the step-by-step recipe, as well as a full nutritional outline.</h5>
    </div>
    <br>
<img style="display: block; margin-left: auto; margin-right: auto; max-width: 100%;" src="https://lh3.googleusercontent.com/rCbd__wUdNLfvHFZyfu91_4j7x94QgRdmg49jL5b-qmdRZoUt8masBCeru5qzrpxukw4ka-vGtk3SsXLh8sa8GkHmxuNV8KNFnBj7MMJzBL3rT_vOcznYmG4CA3qsBr7xoTZxR9lSQ=w600-h315-p-k" width="860" height="440"/> </a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</div>
</body>
</html>