<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Survey | Alma Food Market</title>
        <link rel="icon" href="https://lh3.googleusercontent.com/ZLwqZBYFkimWfu7FuLh-g1iBEI_dNxzmf4yTubddU3ZEN7Qkhz12T8tosGjD46t76GSHhlFJ1Y5oaqUJNX0g-w66wfvYQSSSbpWYpNbwBSzc2PvhJDBptrr_6_dK2KWnj-Ysy5F84RJGw3OfFfPi8OxL6QP2iRZb57JHhGJ8_pM_NOlWt0iYvVmtJmHCa6XTPubLiq-ZGulh-gPFtUBgAkwYYPNs9WV1rrbSjej9w9caeusD79kxSE532Dws6AMR7VTVMuAiBzecPWvo61KtOL4YnOfWq00TF7hfpkfmnLdP3frcIlIbj81S7CvgTj1WiDcKqIBpkpEshrJrnZniuGkfKJhceob2NPWR7-8uUYKCIJO6cxRnnIIEgC2NOS_TKKlymAHi1QsiR5QB4Bfr3KJQ8oap5DsUZJGEf36o4fMk0WqAiztG2yy1kcR6pD9Xs0dWJcEblBD3fuwo6oGtHAebikKzzIi1G2jxXOZGg0vQvhmp6t35U5tyidVgLo3fBx6Zlb6QMPnAiXgACFjoHEbBshNCXvTcjPPEst3EOfoOBfNGJ3qBE-IFzOJ3xm1D2D3jl41EscJlTYoQlfqhERdp-ch0CMGxjzsMity9Tfh1Mk-T4nMYpfelo01ahE-z6c8EpZhaNfzTgS0tM1pxzVEuvTE9cINzk-gBYU-vd1l-9LHfZiRs0ONDIhhdzneWjn3B6KsP252GnUmYrOkWC5g=w169-h150-no?authuser=0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
    <form method="post" action="/survey/confirmation">
        <br>
        <label style="margin-left: 2.5%;" for="email">Enter your email: (leave blank if you prefer to be anonymous)</label>
        <input style="margin-left: 1.5%;" type="email" id="email" name="email"/>
        <br></br>

        <label style="margin-left: 2.5%;" for="a1">How often do you go grocery shopping? *</label>
        <input style="margin-left: 1.5%;" type="text" name="a1" required />
        <br></br>

        <label style="margin-left: 2.5%;" for="a2">When was the last time you went grocery shopping? *</label>
        <br>
        <input style="margin-left: 3%;" type="radio" id="1-3" name="a2" value="1-3 days ago" required>
        <label for="1-3">1-3 days ago</label>
        <br>
        <input style="margin-left: 3%;" type="radio" id="1 week" name="a2" value="1 week ago">
        <label for="1 week">1 week ago</label>
        <br>
        <input style="margin-left: 3%;" type="radio" id="2 weeks" name="a2" value="2 weeks ago">
        <label for="2 weeks">2 weeks ago</label>
        <br>
        <input style="margin-left: 3%;" type="radio" id="3 weeks" name="a2" value="3 weeks ago">
        <label for="3 weeks">3 weeks ago</label>
        <br>
        <input style="margin-left: 3%;" type="radio" id="over 3 weeks" name="a2" value="Over 3 weeks ago">
        <label for="over 3 weeks">Over 3 weeks ago</label>
        <br></br>

        <label style="margin-left: 2.5%;" for="a3">What would you change about your local grocery shopping experience? *</label>
        <input style="margin-left: 1.5%;" type="text" name="a3" required />
        <br></br>

        <label style="margin-left: 2.5%;" for="a4">What frustrates you about grocery prices? *</label>
        <input style="margin-left: 1.5%;" type="text" name="a4" required />
        <br></br>

        <label style="margin-left: 2.5%;" for="a5">Would you say you have easy access to healthy food options? *</label>
        <input style="margin-left: 1.5%;" type="text" name="a5" required />
        <br></br>

        <label style="margin-left: 2.5%;" for="a6">Do you wish there was a delivery option for your groceries? *</label>
        <br>
        <input style="margin-left: 3%;" type="radio" id="yes" name="a6" value="Yes" required>
        <label for="yes">Yes</label>
        <br>
        <input style="margin-left: 3%;" type="radio" id="no" name="a6" value="No">
        <label for="no">No</label>
        <br></br>

        <input style="margin-left: 3%;" type="submit" value="Submit"/>
    </form>
</body>

</html>