<!DOCTYpE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Survey Confirmation</title>
        <link rel="icon" href="https://lh3.googleusercontent.com/ZLwqZBYFkimWfu7FuLh-g1iBEI_dNxzmf4yTubddU3ZEN7Qkhz12T8tosGjD46t76GSHhlFJ1Y5oaqUJNX0g-w66wfvYQSSSbpWYpNbwBSzc2PvhJDBptrr_6_dK2KWnj-Ysy5F84RJGw3OfFfPi8OxL6QP2iRZb57JHhGJ8_pM_NOlWt0iYvVmtJmHCa6XTPubLiq-ZGulh-gPFtUBgAkwYYPNs9WV1rrbSjej9w9caeusD79kxSE532Dws6AMR7VTVMuAiBzecPWvo61KtOL4YnOfWq00TF7hfpkfmnLdP3frcIlIbj81S7CvgTj1WiDcKqIBpkpEshrJrnZniuGkfKJhceob2NPWR7-8uUYKCIJO6cxRnnIIEgC2NOS_TKKlymAHi1QsiR5QB4Bfr3KJQ8oap5DsUZJGEf36o4fMk0WqAiztG2yy1kcR6pD9Xs0dWJcEblBD3fuwo6oGtHAebikKzzIi1G2jxXOZGg0vQvhmp6t35U5tyidVgLo3fBx6Zlb6QMPnAiXgACFjoHEbBshNCXvTcjPPEst3EOfoOBfNGJ3qBE-IFzOJ3xm1D2D3jl41EscJlTYoQlfqhERdp-ch0CMGxjzsMity9Tfh1Mk-T4nMYpfelo01ahE-z6c8EpZhaNfzTgS0tM1pxzVEuvTE9cINzk-gBYU-vd1l-9LHfZiRs0ONDIhhdzneWjn3B6KsP252GnUmYrOkWC5g=w169-h150-no?authuser=0">
    <meta name="viewport" content="width=device-width, initial-scale=1, sbrink-to-fit=no">
</head>

<body>
    <div style="font-family: Arial, Helvetica, sans-serif; margin: 2.5%;">
        <form method="post" action="/survey/results">
            <p>For your <b>email</b>: Your respone was <input type="email" name="email" value="{{email}}"/></p>
            <br>

            <p>For <b>How often do you go grocery shoping?</b>: Your respone was <input type="text" name="a1" value="{{a1}}"/></p>
            <br>

            <p>For <b>When was the last time you went grocery shopping?</b>: Your respone was <input type="text" name="a2" value="{{a2}}"/></p>
            <br>        
        
            <p>For <b>What would you change about your local grocery shopping experience?</b>: Your respone was <input type="text" name="a3" value="{{a3}}"/></p>
            <br>        
        
            <p>For <b>What frustrates you about grocery prices?</b>: Your respone was <input type="text" name="a4" value="{{a4}}"/></p>
            <br>        
        
            <p>For <b>Would you say you have easy access to healthy food options?"</b>: Your respone was <input type="text" name="a5" value="{{a5}}"/></p>
            <br>        
        
            <p>For <b>Do you wish there was a delivery option for your groceries?"</b>: Your respone was <input type="text" name="a6" value="{{a6}}"/></p>
            <br>
            <div style = "text-align: center;">
                <h4>If your responses are correct, click "Proceed"</h4>
                <input type="submit" value="Proceed"/>
            </div>
        </form>>
    </div>
</body>

</html>